
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 center-text">
                <h1><%= @project.title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <%= image_tag(@project.thumbnail, alt: @project.title, class: 'project-thumb') %>
            </div>

            <div class="col-sm-6 col-xs-12">
                <%= form_for(@project, url: update_project_path) do |f| %>
                    <div class="form-group">
                        <%= f.text_area :short_description, class: "form-control", rows: 5 %><br>
                        <%= f.text_area :long_description, class: "form-control", rows: 10 %><br>
                        <%= link_to "Cancel", :back, class: "btn btn-danger form-btn" %>
                        <%= f.submit "Save", class: "btn btn-success form-btn" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>