
<div class="jumbotron">
    <div class="project container">

        <div class="row">
            <div class="col-sm-6 center-text">
                <h2>
                    <%= @project.title %><br>
                    <small><%= @project.short_description %></small>
                </h2>
                <%= image_tag(@project.thumbnail, alt: @project.title, class: 'project-thumb') %>
                <% unless @project.website_url.nil? %>
                    <h4><%= link_to @project.website_url %></h4>
                <% end %>
                <% unless @project.github_url.nil? %>
                    <h4><%= link_to @project.github_url %></h4>
                <% end %>
            </div>

            <div class="col-sm-6">
                <p><%= @project.long_description %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <%= link_to "Edit", edit_project_path(@project.title), class: "btn btn-primary form-btn" %>
            </div>
        </div>
    </div>
</div>