<!DOCTYPE html>
<html>
    <head>
        <title>Developer Portfolio</title>
        <meta name="viewport" content="initial-scale=1">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'projects' %>
        <%= javascript_include_tag "https://use.fonticons.com/1fddb50b.js" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <!-- Navigation bar at top of page -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class=".hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger menu-hamburger-size blue-bg"></span>
                        <!--<i class="icon icon-bars icon-lg blue-bg"></i>-->
                    </button>
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Welcome", root_path, class: "navbar-brand" %></li>
                        </ul>
                    </div>
                </div>
                <p class="navbar-text navbar-right hidden-xs">Joshua Campbell</p>
                <div class="collapse navbar-collapse" id="collapsemenu">
                    <ul class="nav navbar-nav">
                        <li class="<%= 'active' if current_page?(portfolio_path) %>"><%= link_to "Portfolio", portfolio_path %></li>
                        <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
                        <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Yield page content here -->
        <div class="content tab-content">
            <%= yield %>
        </div>


        <!-- Social Media link footer at bottom of page -->
        <div class="footer">
            <div class="container">
                <div class="social_media">
                    <ul>
                        <li>
                            <%= link_to "https://github.com/jcampbe6", target: "_blank" do %>
                                <i class="icon icon-github-square icon-3x social-media-link"></i>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to "http://www.linkedin.com/in/joshcamp", target: "_blank" do %>
                                <i class="icon icon-linkedin-square icon-3x social-media-link"></i>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <p>&copy; 2015 Joshua Campbell</p>
            </div>
        </div>
    </body>
</html>
